:root {
    font-family: sans-serif;
    --nav-height: 50px;
}

.carousel {
    margin: 100px auto 0;
    overflow-x: hidden;
    position: relative;
    text-align: center;
}

.container {
    height: 300px;
    position: relative;
}

.container:hover {
    cursor: grab;
}

.container.grabbing {
    cursor: grabbing;
    user-select: none;
}

.slide {
    display: flex;
    flex-flow: row nowrap;
    font-size: 124px;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 300px;
    top: 0;
    width: 100%;
}

.carousel button {
    background: none;
    color: #fff;
    border: none;
    font-size: 30px;
    position: absolute;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    top: 50%;
    transform: translateY(calc(-50% - calc(var(--nav-height) / 2)));
    z-index: 100;
}

.carousel button:hover {
    cursor: pointer;
}

.carousel button.is-prev {
    left: 1%;
}

.carousel button.is-prev:after {
    content: '⬅';
}

.carousel button.is-next {
    right: 1%;
}

.carousel button.is-next:after {
    content: '⬅';
    display: block;
    rotate: 180deg;
    transform-origin: center;
}

.carousel-nav {
    align-items: center;
    display: flex;
    gap: 5px;
    flex-flow: row nowrap;
    max-width: 200px;
    height: var(--nav-height);
    margin: 0 auto;
    justify-content: center;
}

.carousel-nav span {
    background: #fff;
    border-radius: 50%;
    border: 2px solid darkblue;
    height: 20px;
    width: 20px;
}

.carousel-nav span:hover {
    cursor: pointer;
}

.carousel-nav span.active {
    background: orange;
}
